@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Maison De Artisan';
  src: url('/fonts/MaisonDeArtisanFree-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-eonite-green: #6b7566;
  --color-eonite-light: #f5f5f0;
  --color-eonite-dark: #4a5045;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #292524;
  background-color: #fafaf9;
}
